@import url(monokai.css);

$right-spacing: 5%;
$sidebar-color: #ffffff;
$sidebar-width: 12%;
$main-left: $sidebar-width + 2%;
$main-width: 75%;
.current {
    color: green;
}

.highlighter-rouge {
    
  position: relative;
  /*left: 30px;*/
  background-color: #ffffff;
  padding: 2px;
  font-size:20px;
  font-family: "Courier New";
}
.sidebar nav {
    text-align: right;
}

.default {
    .highlighter-rouge {
        padding-left: 2px !important;
    }
    .highlight{
        position: relative;
    }
    left: $main-left;
    z-index: 1; /* Stay on top */
    // top: 1; /* Stay at the top */
    position: fixed;
    height: 90%; /* Full-height: remove this if you want "auto" height */
    width: $main-width; /* Set the width of the sidebar */ 

}

.defaultexpand {
    .highlighter-rouge {
        padding-left: 2px !important;
    }
    .highlight{
        position: relative;
    }
    left: 0%; 
    z-index: 1; /* Stay on top */
    // top: 1; /* Stay at the top */
    position: fixed;
    height: 90%; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */ 

}

.main {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */ 
    position: absolute; /* fixed Fixed Sidebar (stay in place on scroll) */
    background-color: #ffffff; 
    overflow-x: scroll; /* Disable horizontal scroll */
    overflow-y: scroll; /* Disable horizontal scroll */  
    padding-top: 20px;
    // text-align: center;
    h1 {
        font-family: "Modern";// "Arial";
        font-size: 40px;
        margin-left: 1%;
        text-decoration: underline;            
    }
    datestyle {
        font-family: "Arial";
        font-weight: bold;
        font-size: 14px;
        margin-left: 1%;                        
    }
    liststyle {
        font-family: "Arial";
        font-size: 25px;
        margin-left: 1%;                        
    }        
    h2 {
        font-family: "Arial";
        font-size: 35px;
        margin-left: 1%;                        
    }
    subtitle {
        font-weight: bold;
        font-size: 20px;
        margin-left: 2%;        
    }
    tagstyle {
        font-weight: bold;
        font-size: 20px;
        margin-left: 2%;        
    }            
    p {
        font-size: 100%;
        margin-left: 2%;
        font-family: Arial;
        font-size: 25px;        
        // width: 80%;
    }
    // ul {
    //     font-size: 100%;
    //     margin-left: 2%;
    //     width: 60%;
    // }
    li {
        font-size: 25px;
        font-family: Arial;        
        margin-left: 2%;
        // width: 60%;
    }
    // code {
    //     font-size: 100%;
    //     margin-left: 2%;
    //     width: 60%;
    // }       
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    a {
        color: #a83232;// #a84232;//#fc0328;
    }
}
.top {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    z-index: 1; /* Stay on top */
    // left: 230px;

}

.sidebar-hidden{
    display: none;
}

.expand {
    left: $main-left;
    width:50px;
    height:50px;
    // border: solid;
}

.table{
    width: $sidebar-width; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    font-size: 25px;
    font-family: "Sans Serif";
    font-weight: bold;    
}

.sidebar-right {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: $sidebar-width; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    //background-color: #40384d; /* Black */
    background-color: $sidebar-color;// #eeeeee;
    // #ff2400;//#fc0328;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.search-wrapper{
    margin-left: 10%;
}
#results-container{
    width: 80%;
}
#search-input{
    width: 80%;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: $sidebar-width; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  //background-color: #40384d; /* Black */
  background-color: $sidebar-color;// #ff2400;//#fc0328;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;    
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Sans Serif";
  font-weight: bold;
  color: #a83232;// #111111;  
  display: block;
}

.disqus {
    margin-left: 1%;
    left: 230px;
    max-width: 70%;
}

.column {
    flex: 30.0%;
    padding: 5px;
    img{
        display: block;
        height: 30px;
        width: 30px;
    }
}
.icon{
    margin-left: 65%;
    top: 50%;
    // border: solid;
    width: auto;
    img{
    right: 0;
        display: block;
        height: 30px;
        width: 30px;
    }}
.row::after {
    display: flex;
}

.footer {
    font-size: 15px;
    bottom: 2%; /* Stay at the top */
    // position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    position: absolute;
    text-align: right;
    margin: $right-spacing;
    right: 0;
    color: #000000; // #ffffff;
}

/*From https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}
blockquote p {
  display: inline;
}
