<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>

  <body>
    <div class="sidebar">
      {% include navigation.html %}
        <div class="icon">
          <a href="http://www.twitter.com/amogh_jalihal">
            <img src="/assets/images/twitter-white.png"></a>
        </div>
        <div class="icon">
          <a href="http://www.github.com/amoghpj">
            <img src="/assets/images/github-white.png"></a>
        </div>
        <div class="icon">
          <a href="mailto:amogh.jalihal@gmail.com">
            <img src="/assets/images/email-white.png"></a>
        </div>
    <div class="footer">      
      {% include footer.html %}          
    </div>      

    </div>
    <div class="default">
      {{ content }}
    </div>      
      <br>


  </body>
</html>
