<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
<link rel="stylesheet" href="https://latex.now.sh/style.css">     
    <!-- <link rel="stylesheet" href="/assets/css/styles.css"> -->
  </head>

  <body>
    <div class="sidebar">
      {% include navigation.html %}
        <!-- <div class="icon"> -->
        <!--   <a href="http://www.twitter.com/amogh_jalihal"> -->
        <!--     <img src="/assets/images/twitter-white.png"></a> -->
        <!-- </div> -->
        <!-- <div class="icon"> -->
        <!--   <a href="http://www.github.com/amoghpj"> -->
        <!--     <img src="/assets/images/github-white.png"></a> -->
        <!-- </div> -->
        <!-- <div class="icon"> -->
        <!--   <a href="mailto:amogh.jalihal@gmail.com"> -->
        <!--     <img src="/assets/images/email-white.png"></a> -->
        </div>
    <div class="footer">      
      {% include footer.html %}          
    </div>      

    </div>
    <div class="default">
      {{ content }}
    </div>  
      <!-- Default Statcounter code for Personal http://amoghpj.github.io -->
<script type="text/javascript">
var sc_project=12188204; 
var sc_invisible=1; 
var sc_security="c84f4bce"; 
var sc_https=1; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
StatCounter" href="https://statcounter.com/" target="_blank"><img
class="statcounter" src="https://c.statcounter.com/12188204/0/c84f4bce/1/"
alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
<!-- End of Statcounter Code -->
  </body>
</html>
